.answerItem {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin-bottom: 15px;
}

.answerItem .answerIcon {
  align-self: center;
}

.answerItem .answerIcon:hover {
  cursor: pointer;
}

.answerItem .answerIconOther {
  align-self: center;
  margin-right: 10px;
}

.answerItem .answerIconOther:hover {
  cursor: pointer;
}

.answerItem .answerNumberOrder {
  width: 30px;
  text-align: center;
}

.answerItem .answerControl {
  margin-left: 7px;
  width: calc(100% - 88px);
}

.answerItem .answerControlRtl {
  margin-right: 7px;
  width: calc(100% - 88px);
}

.answerItem .answerControlOther {
  margin-left: 7px;
  width: calc(100% - 140px);
}

.answerItem .answerControlOtherRtl {
  margin-right: 7px;
  width: calc(100% - 140px);
}

.answerItem .answerOtherControl {
  margin-left: 43px;
  width: 50%;
}
