.sectionTitle {
  font-size: 18px;
  font-weight: bold;
}

.leftContent {
  padding: 15px;
  width: 30%;
  overflow-y: auto;
  background-color: white;
  height: 100vh;
  padding-top: 16px;
}

.close {
  padding: 8px;
  text-align: right;
}