.imageIconButton {
  float: right;
  border-radius: 0 !important;
  padding: 4px !important;
  margin: 4px !important;
  background-color: #ffffff7f !important;
}

.imageContainer {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.addAnswerIcon {
  scale: 4;
}

.addAnswerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
